.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 100px 0 200px 0;
    gap: 1rem;
}

.topInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 10vw;
}

.schedule {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 20px;
    border-radius: 0 100px;
    background: linear-gradient(45deg, var(--color-blue), var(--color-red), var(--color-green), var(--color-yellow));
    width: 450px;
    height: 160px;
    padding: 25px 50px;
}

.schedule p {
    font-weight: 600;
    text-align: end;
    line-height: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--color-purple);
    border-radius: 0 300px;
    padding: 2rem 15% 8rem 15%;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    text-align: justify;
}

.schoolClases {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.classData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: white;
    background-color: var(--color-text);
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    padding-top: 40px;
}

.classData h3 { 
    color: white;
}

.left {
    border-radius: 0 150px;
}

.right {
    border-radius: 150px 0;
}

li {
    list-style-type: none;
    color: white;
    font-size: 18px;
}
