.container {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 10%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.whatsappLogo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        width: auto;
        height: 10%;
    }
}