:root {
    --color-text: #2b2b45;
    --color-logo: #4047cc;
    --color-red: #ffd0d0;
    --color-yellow: #fbfbb6;
    --color-orange: #ffcaa1;
    --color-green: #e4ffe5;
    --color-blue: #d7eaff;
    --color-purple: #e0ddff;
    --bg-color: #FFFFFF;
}