:root {
    --color-text: rgb(1, 1, 39);
    --color-red: #ffd0d0;
    --color-yellow: #fff7d3;
    --color-green: #e4ffe5;
    --color-blue: #d7eaff;
    --color-purple: #e0ddff;
    --bg-color: #f0f0f0;
}