.container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 25%;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.logoName {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .container {
        width: auto;
        height: 13%;
    }
}
