.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1rem;
    gap: 2rem;
    box-sizing: border-box;
}

.container h2 {
    text-align: center;
    font-size: 3rem;
}

.container h3 {
    text-align: center;
    font-weight: 600;
}

.container p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.container a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    font-size: 1rem;
}

.container a:hover {
    text-decoration: underline;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
