@import '../../vars.css';

.petalButton {
    width: 40vh;
    height: 40vh;
    padding: 10px;
    background-color: rgb(251, 251, 182);
    border: 0.5px solid rgb(193, 193, 193);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1vw;
    font-weight: bold;
    color: var(--color-text);
}

@media (max-width: 768px) {
    .petalButton {
        width: 40vw;
        height: 40vw;
        font-size: 3vw;
        padding: 5px;
    }
}
