@import '../../vars.css';

.petalLink {
    text-decoration: none;
}

.petalButton {
    width: 40vh;
    height: 40vh;
    padding: 10px;
    background-color: white;
    border: 0.5px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: 900;
    color: var(--color-text);
    background-color: white;
}

.petalButton::before {
    content: '';
    position: absolute;
    top: -0.15vw;
    left: -0.15vw;
    right: -0.15vw;
    bottom: -0.15vw;
    border: 0.5px solid transparent;
    border-radius: 50%;
    background: linear-gradient(35deg, var(--color-red), var(--color-yellow), var(--color-orange), var(--color-green), var(--color-blue), var(--color-purple), var(--color-text));
    z-index: -1;
}

.petalImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .petalButton {
        width: 40vw;
        height: 40vw;
        font-size: 4vw;
        padding: 5px;
    }
}
