.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 100px 5rem 200px 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    margin-bottom: 2rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-blue);
    border: none;
    border-radius: 0 300px;
    padding: 1rem 15% 7rem 15%;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 100px 2rem 200px 2rem;
    }

    .textContainer {
        padding: 0 2rem 4rem 2rem;
        border-radius: 0 100px;
        line-height: 1;
    }
}


